body{
	font-family: 'Roboto', sans-serif;
}

span{
	color: #1f0e0b;
	margin-right:0px;
	padding:1px 6px;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
}

.words{
	max-width: 1100px;
}